{% extends "layout.html" %}
{% block content %}
    <div class="col-12 col-md-4 offset-md-4">
        <div class="card border-0 p-3 mb-5 rounded bg-auth shadow-auth">
            <div class="card-title text-center mt-4">
                <h1>Сброс пароля успешно завершен!</h1>
            </div>
            <div class="card-body">
                <div class="container p-4">
                    <p>Ваш пароль успешно изменен. Вы можете продолжить и войти в систему сейчас.</p>                 
                    <a href="/login" class="btn btn-block px-3 py-2 br-10 text-forest-green text-white">Войти</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
