{% extends "layout.html" %}
{% block content %}
    <div class="col-12 col-md-12">
        <div class="card border-0 p-3 mb-5 rounded bg-auth shadow-auth">
            <div class="card-title text-center mt-4">
                <h1>Введите email для восстановления пароля</h1>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="text-danger">{{ error|escape }}</div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="text-danger">{{ error|escape }}</div>
                        {% endfor %}
                    {% endif %}
                    <div class="form-group">
                        <label for="email">Введите адрес электронной почты</label>
                        <input type="email" name="email" class="form-control p-2 br-10" id="email" placeholder="Email">
                    </div>
                    {% comment %} {{ form.as_p }} {% endcomment %}
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-block px-3 py-2 br-10 text-forest-green text-white">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
