{% extends "layout.html" %}
{% block content %}
    <div class="col-12 col-md-12">
        <div class="card border-0 p-3 mb-5 rounded bg-auth shadow-auth">
            <div class="card-title text-center mt-4">
                <h1>Сброс текущего пароля</h1>
            </div>
            <div class="card-body">
                <div class="container p-5">
                    <form method="POST">
                        {{ form.errors }}
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="new_password1">Введите новый пароль</label>
                            <input type="password" name="new_password1" required class="form-control p-2 br-10" placeholder="Новый пароль">
                        </div>
                        <div class="form-group">
                            <label for="new_password2">Повторите новый пароль</label>
                            <input type="password" name="new_password2" required class="form-control p-2 br-10" placeholder="Подтвердите новый пароль">
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-block px-3 py-2 br-10 text-forest-green text-white">Сбросить пароль</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
