{%  extends 'layout.html' %}
{% comment %} {% block title %} {% endblock  %} {% endcomment %}
{% block content %}
<!-- <div class="container">
<div class="row">
    <div class="col-md-8">
        <div class="card card-body">
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button   type="submit" class="btn btn-primary">Создать</button> 
            </form>
        </div>
    </div>
</div>
</div> -->
<div class="container py-5 h-100">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h2 class="card-title">Создать услугу</h2>
        <div class="card card-body">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="{{ form.customer.id_for_label }}">Customer</label>
              {{ form.barber }}
              {{ form.category }}
            </div>
            <div class="form-group">
              <label for="{{ form.type_of_service.id_for_label }}">Type of Service</label>
              {{ form.customer }}
            </div>
            <div class="form-group">
              <label for="{{ form.date_created.id_for_label }}">Date Created</label>
              {{ form.date }}
            </div>
            <div class="form-group">
              <label for="{{ form.status.id_for_label }}">Status</label>
              {{ form.time }}
            </div>
            <div class="form-group">
              <label for="{{ form.times_pick.id_for_label }}">Times Pick</label>
              {{ form.service }}
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
        </form>
      </div>
      </div>
    </div>
  </div>
  <script src="/static/js/category.js" defer></script>
{% endblock content %}
