{%  extends 'layout.html' %}
{% comment %} {% block title %} {% endblock  %} {% endcomment %}
{% block content %}
<link rel="stylesheet" href="/static/css/registration.css"/>
<link rel="stylesheet" href="/static/css/psw_val.css"/>
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
              <form action="/main/registration" method="POST" id='registration'>
                {% csrf_token %}
                <div class="row">
                  
                  <div class="col-md-6 mb-4">
                    <div class="form-group">
                      <p id="result"></p>
                  </div>
                    <div class="form-outline">
                      <input type="text" name="username" id="username" class="form-control form-control-lg" onkeyup="checkuser(); if (/[^|a-z0-9]+/g.test(this.value)) this.value = this.value.replace(/[^|a-z0-9]+/g,'')"  title="Введите ваш логин" />
                      
                      <label class="form-label" for="username">UserName</label>
                    </div>
                    
                  </div>
                  <div class="w-100"></div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" name="first_name" id="firstName" class="form-control form-control-lg" title="Введите ваше имя "/>
                      <span id="Errorfirst_name"></span>
                      <label class="form-label" for="firstName">First Name</label>
                    </div>
                  
  
                  </div>
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                      <input type="text" name="last_name" id="lastName" class="form-control form-control-lg" title="Введите ваше фамилие"/>
                      <label class="form-label" for="lastName">Last Name</label>
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                      <input type="password" name="password1" id="psw" class="form-control form-control-lg" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Должен содержать не менее одной цифры и одной прописной и строчной буквы, а также не менее 8 символов."  />
                      <label class="form-label" for="psw">Password</label>
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                      <input type="password" name="password2" id="psw" class="form-control form-control-lg" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Должен содержать не менее одной цифры и одной прописной и строчной буквы, а также не менее 8 символов." />
                      <label class="form-label" for="psw">Confirm password</label>
                    </div>

                  </div>
                </div>
                <div id="message">
                  <h3>Password must contain the following:</h3>
                  <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                  <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                  <p id="number" class="invalid">A <b>number</b></p>
                  <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-4 d-flex align-items-center">
  
                    <div class="form-outline datepicker w-100">
                      <input type="date" name="age" class="form-control form-control-lg" id="birthdayDate" />
                      <label for="birthdayDate" class="form-label">Birthday</label>
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4">
  
                    <h6 class="mb-2 pb-1">Gender: </h6>
  
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" name="gender" type="radio" name="inlineRadioOptions" id="femaleGender"
                        value="1" checked />
                      <label class="form-check-label" for="femaleGender">Female</label>
                    </div>
  
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" name="gender" type="radio" name="inlineRadioOptions" id="maleGender"
                        value="2" />
                      <label class="form-check-label" for="maleGender">Male</label>
                    </div>
  
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" name="gender" type="radio" name="inlineRadioOptions" id="otherGender"
                        value="o" />
                      <label class="form-check-label" for="otherGender">Other</label>
                    </div>
  
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div class="form-outline">
                      <input type="email" id="emailAddress" name="email" class="form-control form-control-lg" />
                      <label class="form-label" for="emailAddress">Email</label>
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4 pb-2">

                    
                    <div class="form-outline">
                      <input type="tel" id="phoneNumber" name="phone_number" class="form-control form-control-lg" maxlength="15"   title="Enter 11 digit mobile number" placeholder="8(xxx)xxx-xx-xx"  />
                      <label class="form-label" for="phoneNumber">Phone Number</label>
                    </div>
                    
                  </div>
                </div>
                <div>
                  <input type="tel" id="numberonly" pattern="\d" maxlength="15">
                </div>
                <label for="tel">Telephone</label>
                <input type="tel" id="telle" maxlength="15">

                
                {% comment %} <div class="row">
                  <div class="col-12">
                    <select class="select form-control-lg">
                      <option selected disabled>Выберите опцию</option>
                      <option value="1">Subject 1</option>
                      <option value="2">Subject 2</option>
                      <option value="3">Subject 3</option>
                    </select>
                  </div>
                </div> {% endcomment %}
  
                <div class="mt-4 pt-2">
                  <input class="btn btn-success btn-lg" type="submit" value="Создать"  id="submitbtn" />
                </div>
  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script>
    function checkuser(){
        let un = document.getElementById("username").value;
        $.ajax({
            url:"{% url 'check_user' %}",
            type:"get",
            data:{username:un},
            success:function(data){
                if(data=="Exists"){
                    $("#result").html("This username already taken").addClass("text-danger");
                    $("#username").addClass("alert alert-danger");
                    $("#submitbtn").attr("disabled","disabled");
                }else{
                    $("#result").html("");
                    $("#username").removeClass("alert alert-danger")
                    $("#submitbtn").removeAttr("disabled");
                }
            }
        })
        
    }
  </script>
  <script src="/static/js/psw_val.js"></script>
  <script src="/static/js/phoneNumber_val.js"></script>
  {% comment %} <script src="/static/js/psw_val.js"></script>s {% endcomment %}

{% endblock content %}
